
<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>
<MatCard class="demo-mat-card">
    <MatCardContent>
        <MatCardMedia Wide="true" ImageUrl="./assets/psb.jpg"></MatCardMedia>
        <div class="demo-mat-card-content">
            <MatHeadline6 class="demo-mat-card-clean-margin">
                安科后山信号塔
            </MatHeadline6>
            <MatSubtitle2 class="demo-mat-card-clean-margin">
                by greenshade
            </MatSubtitle2>
        </div>

        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            这是大学的时候，在宿舍拍的学校后山的信号塔，怀念那时悠闲快乐的日子。
        </MatBody2>
    </MatCardContent>
</MatCard>


@code {

}
