@page "/cards"

<MatHeadline1>Cards</MatHeadline1>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
    </div>
</div>
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
    </div>
</div>
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
    </div>
</div>

@code {

}
