@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> Localizer
<MatHeadline1>@Localizer["Card"]</MatHeadline1>
<CultureSelector />
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
    </div>
</div>
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
    </div>
</div>
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
        <div class="mat-layout-grid-cell">
            <CardComponent></CardComponent>
        </div>
    </div>
</div>

@code {

}
